@import url("./__label/form__label.css");
@import url("./__container/form__container.css");
@import url("./__close/form__close.css");
@import url("./__title/form__title.css");
@import url("./__open/form__open.css");

.form {
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
}